body{
  font-family: "Roboto Light", "Helvetica", "Times New Roman";
}
.h1_header{
  background-image: url("https://images.unsplash.com/photo-1564939558297-fc396f18e5c7?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #f8e1b3;
  color: #bf9f66;
  text-shadow: 2px 2px grey;
}
.h2_backStory{
  padding: 30px;
  font-size: 40px;
}
.h3_theMethod{
  text-align: center;
  font-size: 35px;
}
.rowFlexDiv{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.rowFlexDiv_subDiv_ColumFLex{
  width: 50%;
  height: 600px;
  box-shadow: 5px 5px 5px grey;
  overflow: scroll;
}
.speech{
  font-size: 35px;
  padding: 16px;
}
.income{
  background-image: url("https://images.unsplash.com/photo-1553729459-efe14ef6055d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: auto;
  height: 400px;
  background-position: center;
  line-height: 300px;
  text-align: center;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px black;
}
.expenses{
  background-image: url("https://images.unsplash.com/photo-1554672723-b208dc85134f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: auto;
  height: 400px;
  background-position: center;
  line-height: 300px;
  text-align: center;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px black;
}
.rewFlexDiv_subDiv3{
  height: 600px;
  width: 33%;
  border-style: solid;
  border-color: black;
  overflow: clip;


}
.LabelInput{
  font-size: 40px;
  padding: 5px;
}
.Input{
  font-size:30px ;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

}
form{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.divButton{
  height: 37%;
  width: 100%;
  border-style: solid;
  border-color: #888888;
  line-height: 210px;
 border-radius: 6px;
  text-align: center;
  box-shadow: 5px 5px 5px #888888;
  transition-duration: 1s;
  background-color: silver;
  padding: 20px;
  font-size: 50px;
  color: beige;
}
.divButton:hover{
  border-color: white;
  color: black;

}
.divButtonSub{
  height: 20%;
  width: 100%;
  border-style: solid;
  border-color: #888888;
  border-radius: 4px;
  text-align: center;
  line-height: 100px;
  box-shadow: 5px 5px 5px #888888;
  transition-duration: 1s;
  background-color: green;
  color: white;
  font-size: 50px
}
.divButtonSub:hover{
  box-shadow: 5px 5px 5px white;
  color: black;

}
