body{
  background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Calibri Light";
  color: white;
}
nav{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(444,444,444,.2);
  border-radius: 4px;
  padding: 7px;
}
a{
  font-size: 17px;


}
a:hover{
  transition-duration: 1s;
  background-color: black;
  color: burlywood;
  border-radius: 3px;
  box-shadow: white;



}
